html {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(37, 37, 37);
}

.button-container {
  border: 2px solid black;
  padding: 10px;
  border-radius: 7px;
  box-shadow: inset 0 20px 4px -19px rgba(255, 255, 255, 0.7);
}

button {
  cursor: pointer;
  outline: none;
  width: 120px;
  height: 75px;
  font-family: Barlow, sans-serif;
  font-size: 25px;
  color: rgb(34, 32, 32);
  text-shadow: 0 2px 5px black;
  border-radius: 7px;
  box-shadow: rgba(255, 255, 255, 0.4);
}

button:hover {
  background: cornflowerblue;
}

button:active {
  transform: translateY(3px);
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.3);
}
